body{
    background-color: #4392F1;
    overflow: hidden;
    margin:0px;
}
* {
    font-family: 'Delius', cursive;
}
/* width */
::-webkit-scrollbar {
    width: 0.5rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(51, 51, 51,0.5);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(51,51,51);
  }
  
.pocket {
    padding:2vh;
    margin-top:3vh;
    width:90vw;
    margin-left:5vw;
    display:grid;
grid-template-columns: 1fr 5fr 1fr;
grid-template-rows: 1fr 1fr 1fr;
grid-template-areas: 
"prev litle agg"
"prev time agg"
"prev dess dess";
height:21vh;
p{
    margin-top:0px;
    margin-left:3vw;
    font-size:1.4vw;
    color:white;
}
#genre {
    grid-area:genre;
       display:grid;
    grid-template-columns:1fr 5fr;
    grid-template-rows:1fr;
    grid-template-areas:"labe bawx";
    margin-bottom:1vh;
    margin-left:-18vw;
}
}
.pocket:hover {
    cursor: pointer;
    background-color: #2e83eb;
}
.prev {
grid-area:prev;
height:21vh;
}
.litle {
    grid-area:litle;
}
.time {
    grid-area:time;
}
.agg {
    grid-area:agg;
    height:14vh;
}
.dess {
    grid-area:dess;
}
.dadit {
    grid-area:dadit;
}
.adie {
    display: none;
}
#helder {
    overflow-y:scroll;
    height:95vh;
}
#bar {
    text-align: center;
    color:white;
    background-color: #F18282;
    width:100vw;
    margin-left:0vw;
    position:absolute;
    top:95vh;
    padding-top:1.5vh;
    padding-bottom:1.5vh;
    margin-bottom:0vh;
    }
    .hovv:hover {
        cursor: pointer;
    }
    #form {
        width:80vw;
        height:95vh;
        margin-left:10vw;
        margin-top:2.8vh;
        display:grid;
        grid-template-columns:3fr 7fr 3fr;
        grid-template-rows: 5fr 0.5fr 1fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr 0.2fr 2fr;
        grid-template-areas:
        ". vid ."
        ". . ."
        ". sele ."
        ". . ."
        "tbox tbox tbox"
        ". . ."
        "lbox lbox genre"
        ". . ."
        "dbox dbox dbox"
        ". . ."
        "abox abox abox"
        ". . ."
        "age age age"
        ". . ."
        "delete . update";
    }
    .lbaw {
        width:30vw;
    }
    #genre {
        grid-area:genre;
           display:grid;
        grid-template-columns:1fr 5fr;
        grid-template-rows:1fr;
        grid-template-areas:"labe bawx";
        margin-bottom:1vh;
        margin-left:-18vw;
    }
    #trai {
        grid-area:vid;
        width:25vw;
      height:15vw;
        margin-left:7.8vw;
    }
    #sele {
        grid-area:sele;
        background-color: #0A0903;
        color:white;
        width:25vw;
        margin-left:7.8vw;
        text-align:center;
        font-size:1.5vw;
        padding-top:1vh;
        padding-bottom:1vh;
    }
    #title {
        grid-area:tbox;
    }
    #length {
        grid-area:lbox;
    }
    #descrip {
        grid-area:dbox;
    }
    #addit {
        grid-area:abox;
    }
    #ages {
        grid-area:age;
    }
    #delete {
        grid-area: delete;
        text-align:center;
        background-color: red;
        color:white;
    font-size:1.9vw;
    width:19vw;
    padding-top:1vh;
    padding-bottom:1vh;
    }
    #update {
        grid-area: update;
        text-align:center;
        background-color: #0A0903;
        color:white;
    font-size:1.9vw;
    width:19vw;
    padding-top:1vh;
    padding-bottom:1vh;
    }
    .serie {
        display:grid;
        grid-template-columns:1fr 5fr;
        grid-template-rows:1fr;
        grid-template-areas:"labe bawx";
        margin-bottom:1vh;
    }
    .labe {
        grid-area:labe;
        background-color:#0A0903;
        color:white;
        height:7vh;
        display:flex;
        justify-content: center;
        align-items: center;
        margin:0px;
        text-align: center;
    
    }
    .bawx {
        grid-area:bawx;
        height:6.9vh;
        padding:0px;
        resize:none;
    }
    #ages {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "U PG twelve fifteen eighteen";
    }
    #U {
        grid-area:U;
        text-align: center;
    }
    #PG {
        grid-area:PG;
        text-align: center;
    }
    #twelve {
        grid-area:twelve;
        text-align: center;
    }
    #fifteen {
        grid-area:fifteen;
        text-align: center;
    }
    #eighteen {
        grid-area:eighteen;
        text-align: center;
    }
    .bigb {
    font-size:3vh;
    }
    .agi {
        margin:0px;
        height:100%;
        display:flex;
        justify-content:center;
        align-items: center;
    }  
    .pbawx {
        grid-area:bawx;
        height:6.9vh;
        display: flex;
        align-items: center;
    background-color: white;
    margin:0px;
    }      
#seletor {
    height:5vh;
    width:100vw;
    margin:0px;
    background-color: #011638;
    color: white;
    border: 0px;
    .filt{
    
    }
}
textarea:focus, input:focus,button:focus,select:focus {
    outline: none;
}