body {
  background-color: #4392F1;
  overflow: hidden;
  margin: 0px;
}

* {
  font-family: 'Delius', cursive;
}

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(51, 51, 51, 0.5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333333;
}

.pocket {
  padding: 2vh;
  margin-top: 3vh;
  width: 90vw;
  margin-left: 5vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr 1fr;
      grid-template-columns: 1fr 5fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "prev litle agg" "prev time agg" "prev dess dess";
  height: 21vh;
}

.pocket p {
  margin-top: 0px;
  margin-left: 3vw;
  font-size: 1.4vw;
  color: white;
}

.pocket #genre {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
  grid-area: genre;
  display: -ms-grid;
  display: grid;
      grid-template-columns: 1fr 5fr;
      grid-template-rows: 1fr;
      grid-template-areas: "labe bawx";
  margin-bottom: 1vh;
  margin-left: -18vw;
}

.pocket:hover {
  cursor: pointer;
  background-color: #2e83eb;
}

.prev {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: prev;
  height: 21vh;
}

.litle {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: litle;
}

.time {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: time;
}

.agg {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: agg;
  height: 10vh;
}

.dess {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: dess;
}

.dadit {
  grid-area: dadit;
}

.adie {
  display: none;
}

#helder {
  overflow-y: scroll;
  height: 95vh;
}

#bar {
  text-align: center;
  color: white;
  background-color: #F18282;
  width: 100vw;
  margin-left: 0vw;
  position: absolute;
  top: 95vh;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  margin-bottom: 0vh;
}

.hovv:hover {
  cursor: pointer;
}

#form {
  width: 80vw;
  height: 95vh;
  margin-left: 10vw;
  margin-top: 2.8vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 7fr 3fr;
      grid-template-columns: 3fr 7fr 3fr;
  -ms-grid-rows: 5fr 0.5fr 1fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr 0.2fr 2fr;
      grid-template-rows: 5fr 0.5fr 1fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr 0.2fr 2fr;
      grid-template-areas: "vid . vidpo" ". . ." "sele . selepo" ". . ." "tbox tbox tbox" ". . ." "lbox lbox genre" ". . ." "dbox dbox dbox" ". . ." "abox abox abox" ". . ." "age age age" ". . ." "delete . update";
}

.lbaw {
  width: 30vw;
}

#genre {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
  grid-area: genre;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "labe bawx";
  margin-bottom: 1vh;
  margin-left: -10vw;
}

#trai {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: vid;
  width: 25vw;
  height: 15vw;
}

#traipo {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: vidpo;
  width: 25vw;
  height: 15vw;
  background-color: #0A0903;
}

#sele {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: sele;
  background-color: #0A0903;
  color: white;
  width: 25vw;
  text-align: center;
  font-size: 1.5vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

#selepo {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: selepo;
  background-color: #0A0903;
  color: white;
  width: 25vw;
  text-align: center;
  font-size: 1.5vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

#title {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: tbox;
}

#length {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: lbox;
}

#descrip {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: dbox;
}

#addit {
  -ms-grid-row: 11;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: abox;
}

#ages {
  -ms-grid-row: 13;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: age;
}

#delete {
  -ms-grid-row: 15;
  -ms-grid-column: 1;
  grid-area: delete;
  text-align: center;
  background-color: red;
  color: white;
  font-size: 1.9vw;
  width: 19vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

#update {
  -ms-grid-row: 15;
  -ms-grid-column: 3;
  grid-area: update;
  text-align: center;
  background-color: #0A0903;
  color: white;
  font-size: 1.9vw;
  width: 19vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.serie {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "labe bawx";
  margin-bottom: 1vh;
}

.labe {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: labe;
  background-color: #0A0903;
  color: white;
  height: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px;
  text-align: center;
}

.bawx {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: bawx;
  height: 6.9vh;
  padding: 0px;
  resize: none;
}

#ages {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "U PG twelve fifteen eighteen";
}

#U {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: U;
  text-align: center;
}

#PG {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: PG;
  text-align: center;
}

#twelve {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: twelve;
  text-align: center;
}

#fifteen {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: fifteen;
  text-align: center;
}

#eighteen {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: eighteen;
  text-align: center;
}

.bigb {
  font-size: 3vh;
}

.agi {
  margin: 0px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pbawx {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: bawx;
  height: 6.9vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  margin: 0px;
}

#seletor {
  height: 5vh;
  width: 100vw;
  margin: 0px;
  background-color: #011638;
  color: white;
  border: 0px;
}

textarea:focus, input:focus, button:focus, select:focus {
  outline: none;
}
/*# sourceMappingURL=lis.css.map */