body{
    background-color: #4392F1;
    overflow: hidden;
    margin:0px;
}
* {
    font-family: 'Delius', cursive;
 
}
#bar {
    text-align: center;
    color:white;
    background-color: #F18282;
    width:100vw;
    margin-left:0vw;
    position:absolute;
    top:95vh;
    padding-top:1.5vh;
    padding-bottom:1.5vh;
    margin-bottom:0vh;
    }
    .hovv:hover {
        cursor: pointer;
    }
#subroom {
    display:none;
    .disp{ 
    display:none;
    grid-template-columns: 3fr 1fr 3fr;
    grid-template-rows: 1fr 1fr 14fr 2fr;
    grid-template-areas:
    ". selet ."
    "screen screen screen"
    "seat seat seat"
    "refund . showing" ;
    width:90vw;
    margin-left:5vw;
    height:85vh;
    }
}
.yeah {
    grid-area:selet;
    background-color:#011638;
    color:white;
}
#times {
    display: none;
    margin-left:5vw;
    width:90vw;
    padding-right:5vw;
    height:95vh;
}
.screen {
    grid-area:screen;
    background-color: white;
    text-align: center;
    width:90vw;
}
.megaseat {
    grid-area:seat;
    margin-left:inherit;
}
.refund {
    grid-area:refund;
    background-color:#0A0903 ;
border:0px;
color:white;
}
.timmy {
    grid-area:showing;
    background-color:#0A0903;
    border:0px;
color:white;
}
#allroom {
    display:grid;
    grid-template-columns:1fr 3fr 1fr 3fr 1fr 3fr 1fr;
    grid-template-rows: 2fr 6fr 2fr 6fr;
    grid-template-areas: 
    "titular titular titular titular titular titular"
    ". A . B . C"
    ". . . . . ."
    ". D . E .F";
    margin-top:5vh;
    color:white;
    height:85vh;
}
#titular {
    font-size:4.5vw;
    grid-area:titular;
    width:100vw;
    text-align: center;
}
#AG {
    grid-area:A;
}
#BG {
grid-area:B;
}
#CG {
    grid-area:C;
}
#DG {
     grid-area:D;
}
#EG {
    grid-area:E;
}
#FG {
    grid-area:F;
}
.roomb {
   width:100%;
   height:100%;
display:flex;
justify-content: center;
align-items: center;
font-size:4vw;
border:2px solid white;
margin:0px;
}
#times {
    overflow-y:scroll;
    height:95vh;
}
/* width */
::-webkit-scrollbar {
    width: 0.5rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(51, 51, 51,0.5);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(51,51,51);
  }
.dayid {
    background-color: #0A0903;
    color:white;
    text-align:center;
    width:100%;
    padding-top:2vh;
    padding-bottom:2vh;
    font-size: 1.8vw;
}
.timeput {
    display:grid;
    grid-template-rows:1fr ;
    grid-template-columns:1fr 7fr;
    grid-template-areas:"tex seles";
    margin-bottom:1vh;
    margin-top:1vh;
}
.daytime {
    grid-area:tex;
    font-size:1.9vw;
    color:white;
}
.filmselec {
    grid-area:seles;
    font-size:1.9vw;
    border:none;

}
#ident {
    font-size:3vw;
 text-align:center; 
 color:white;
}
#butt {
    width:40vw;
    margin-left:25vw;
    margin-bottom:4vh;
    background-color: #0A0903;
    color:white;
    border:none;
    padding-top:1vh;
    padding-bottom:1vh;
}
textarea:focus, input:focus,button:focus,select:focus {
    outline: none;
}
#seatinfo {
    display:none;
    background-color:white;
    position:absolute;
    width:55vw;
    padding-top:2vh;
    padding-bottom:2vh;
    padding-left:2vh;
    padding-right:2vh;
    height:50vh;
    top:15%;
    left:20%;
    z-index:4;
}
#greyed {
    height:95vh;
    width:100vw;
    top:0;
    background-color:rgba(0,0,0,0.6);
    position: absolute;
    z-index:3;
    display:none;
}
#confirm {
    display:none;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "passowe refun"
}
#refunser {
    grid-area:refun;
    border:none;
    color:white;
    background-color: #F18282;
}
#unbok {
    width:33vw;
    margin-left:auto;
    margin-right:auto;
    height:4vw;
    border:none;
    color:white;
    background-color: #F18282;
}
#confirm2 {
    display:none;
    display:none;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "passowe refun"
}
#delaes {
    grid-area:refun;
    border:none;
    color:white;
    background-color: #F18282;
}
#seatdeleat {
    display:block;
    margin-top:3vh;
    width:33vw;
    margin-left:auto;
    margin-right:auto;
    height:4vw;
    border:none;
    color:white;
    background-color: #F18282;
}
#seatio {
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}
#passowrd {
    grid-area:passowe;
    border:none;
    box-shadow: rgba(51,51,51,0.2) 0px 1px;
    background-color:rgb(239, 239, 239);
}
#passowrd2 {
    grid-area:passowe;
    border:none;
    box-shadow: rgba(51,51,51,0.2) 0px 1px;
    background-color:rgb(239, 239, 239);
}
#bigone {
    display: none;
    position:absolute;
    width:55vw;
    padding-top:2vh;
    padding-bottom:2vh;
    padding-left:2vh;
    padding-right:2vh;
    height:30vh;
    top:25%;
    left:20%;
    z-index:4;
    background-color: white;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.2fr 1fr 0.2fr 1fr;
    grid-template-areas: 
    "texall"
    "."
    "boxall"
    "."
    "refall";
}
#warne {
grid-area:texall;
text-align: center;
}
#posswo {
grid-area:boxall;
}
#refunar {
grid-area:refall;
color:white;
background-color: #F18282;
border:none;
}
.yeah {

}

#plux {
    margin-bottom:1vw;
    height:10vw;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}

.conta {
    height:13vw;
    width:13vw;
    display:inline-grid;
}