body {
  background-color: #4392F1;
  overflow: hidden;
  margin: 0px;
}

* {
  font-family: 'Delius', cursive;
}

#bar {
  text-align: center;
  color: white;
  background-color: #F18282;
  width: 100vw;
  margin-left: 0vw;
  position: absolute;
  top: 95vh;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  margin-bottom: 0vh;
}

.hovv:hover {
  cursor: pointer;
}

#subroom {
  display: none;
}

#subroom .disp {
  display: none;
  -ms-grid-columns: 3fr 1fr 3fr;
      grid-template-columns: 3fr 1fr 3fr;
  -ms-grid-rows: 1fr 1fr 14fr 2fr;
      grid-template-rows: 1fr 1fr 14fr 2fr;
      grid-template-areas: ". selet ." "screen screen screen" "seat seat seat" "refund . showing";
  width: 90vw;
  margin-left: 5vw;
  height: 85vh;
}

.yeah {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: selet;
  background-color: #011638;
  color: white;
}

#times {
  display: none;
  margin-left: 5vw;
  width: 90vw;
  padding-right: 5vw;
  height: 95vh;
}

.screen {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: screen;
  background-color: white;
  text-align: center;
  width: 90vw;
}

.megaseat {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: seat;
}

.refund {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: refund;
  background-color: #0A0903;
  border: 0px;
  color: white;
}

.timmy {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: showing;
  background-color: #0A0903;
  border: 0px;
  color: white;
}

#allroom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 1fr 3fr 1fr 3fr 1fr;
      grid-template-columns: 1fr 3fr 1fr 3fr 1fr 3fr 1fr;
  -ms-grid-rows: 2fr 6fr 2fr 6fr;
      grid-template-rows: 2fr 6fr 2fr 6fr;
      grid-template-areas: "titular titular titular titular titular titular" ". A . B . C" ". . . . . ." ". D . E .F";
  margin-top: 5vh;
  color: white;
  height: 85vh;
}

#titular {
  font-size: 4.5vw;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: titular;
  width: 100vw;
  text-align: center;
}

#AG {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: A;
}

#BG {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: B;
}

#CG {
  -ms-grid-row: 2;
  -ms-grid-column: 6;
  grid-area: C;
}

#DG {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: D;
}

#EG {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
  grid-area: E;
}

#FG {
  grid-area: F;
}

.roomb {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 4vw;
  border: 2px solid white;
  margin: 0px;
}

#times {
  overflow-y: scroll;
  height: 95vh;
}

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(51, 51, 51, 0.5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333333;
}

.dayid {
  background-color: #0A0903;
  color: white;
  text-align: center;
  width: 100%;
  padding-top: 2vh;
  padding-bottom: 2vh;
  font-size: 1.8vw;
}

.timeput {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 7fr;
      grid-template-columns: 1fr 7fr;
      grid-template-areas: "tex seles";
  margin-bottom: 1vh;
  margin-top: 1vh;
}

.daytime {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: tex;
  font-size: 1.9vw;
  color: white;
}

.filmselec {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: seles;
  font-size: 1.9vw;
  border: none;
}

#ident {
  font-size: 3vw;
  text-align: center;
  color: white;
}

#butt {
  width: 40vw;
  margin-left: 25vw;
  margin-bottom: 4vh;
  background-color: #0A0903;
  color: white;
  border: none;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

textarea:focus, input:focus, button:focus, select:focus {
  outline: none;
}

#seatinfo {
  display: none;
  background-color: white;
  position: absolute;
  width: 55vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 2vh;
  padding-right: 2vh;
  height: 50vh;
  top: 15%;
  left: 20%;
  z-index: 4;
}

#greyed {
  height: 95vh;
  width: 100vw;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  z-index: 3;
  display: none;
}

#confirm {
  display: none;
  -ms-grid-columns: 5fr 1fr;
      grid-template-columns: 5fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "passowe refun";
}

#refunser {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: refun;
  border: none;
  color: white;
  background-color: #F18282;
}

#unbok {
  width: 33vw;
  margin-left: auto;
  margin-right: auto;
  height: 4vw;
  border: none;
  color: white;
  background-color: #F18282;
}

#seatio {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#passowrd {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: passowe;
  border: none;
  -webkit-box-shadow: rgba(51, 51, 51, 0.2) 0px 1px;
          box-shadow: rgba(51, 51, 51, 0.2) 0px 1px;
  background-color: #efefef;
}

#bigone {
  display: none;
  position: absolute;
  width: 55vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 2vh;
  padding-right: 2vh;
  height: 30vh;
  top: 25%;
  left: 20%;
  z-index: 4;
  background-color: white;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 0.2fr 1fr 0.2fr 1fr;
      grid-template-rows: 1fr 0.2fr 1fr 0.2fr 1fr;
      grid-template-areas: "texall" "." "boxall" "." "refall";
}

#warne {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: texall;
  text-align: center;
}

#posswo {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: boxall;
}

#refunar {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: refall;
  color: white;
  background-color: #F18282;
  border: none;
}

#plux {
  margin-bottom: 1vw;
  height: 10vw;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
}

.conta {
  height: 13vw;
  width: 13vw;
  display: -ms-inline-grid;
  display: inline-grid;
}
/*# sourceMappingURL=tic.css.map */