* {
    font-family: 'Delius', cursive;
}
body {
    background-color: #4392F1;
    margin:0px;
    overflow:hidden;
}
#form {
    width:80vw;
    height:95vh;
    margin-left:10vw;
    margin-top:2.8vh;
    display:grid;
    grid-template-columns:3fr 7fr 3fr;
    grid-template-rows: 5fr 0.5fr 1fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr 0.2fr 2fr;
    grid-template-areas:
    "vid . vidpo"
    ". . ."
    "sele . selepo"
    ". . ."
    "tbox tbox tbox"
    ". . ."
    "lbox lbox genre"
    ". . ."
    "dbox dbox dbox"
    ". . ."
    "abox abox abox"
    ". . ."
    "age age age"
    ". . ."
    "genx . add";
}

.lbaw {
    width:30vw;
}
#trai {
    grid-area:vid;
    width:25vw;
  height:15vw;
}
#traipo {
    grid-area:vidpo;
    width:25vw;
  height:15vw;
  background-color: #0A0903;
}
#genre {
    grid-area:genre;
       display:grid;
    grid-template-columns:1fr 5fr;
    grid-template-rows:1fr;
    grid-template-areas:"labe bawx";
    margin-bottom:1vh;
    margin-left:-10vw;
}
#sele {
    grid-area:sele;
    background-color: #0A0903;
    color:white;
    width:25vw;
    text-align:center;
    font-size:1.5vw;
    padding-top:1vh;
    padding-bottom:1vh;
}
#selepo {
    grid-area:selepo;
    background-color: #0A0903;
    color:white;
    width:25vw;
    text-align:center;
    font-size:1.5vw;
    padding-top:1vh;
    padding-bottom:1vh;
}
#title {
    grid-area:tbox;
}
#length {
    grid-area:lbox;
}
#descrip {
    grid-area:dbox;
}
#addit {
    grid-area:abox;
}
#ages {
    grid-area:age;
}
#chng {
    grid-area: genx;
    text-align:center;
    background-color: #F18282;
    color:white;
font-size:1.9vw;
width:19vw;
padding-top:1vh;
padding-bottom:1vh;
}
#add {
    grid-area: add;
    text-align:center;
    background-color: #0A0903;
    color:white;
font-size:1.9vw;
width:19vw;
padding-top:1vh;
padding-bottom:1vh;
margin-left:6vw;
}
.serie {
    display:grid;
    grid-template-columns:1fr 5fr;
    grid-template-rows:1fr;
    grid-template-areas:"labe bawx";
    margin-bottom:1vh;
}
.labe {
    grid-area:labe;
    background-color:#0A0903;
    color:white;
    height:7vh;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:0px;
    text-align: center;

}
.bawx {
    grid-area:bawx;
    height:6.9vh;
    padding:0px;
    resize:none;
}
#ages {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "U PG twelve fifteen eighteen";
}
#U {
    grid-area:U;
    text-align: center;
}
#PG {
    grid-area:PG;
    text-align: center;
}
#twelve {
    grid-area:twelve;
    text-align: center;
}
#fifteen {
    grid-area:fifteen;
    text-align: center;
}
#eighteen {
    grid-area:eighteen;
    text-align: center;
}
.bigb {
font-size:3vh;
}
#bar {
    text-align: center;
    color:white;
    background-color: #F18282;
    width:100vw;
    margin-left:0vw;
    position:absolute;
    top:95vh;
    padding-top:1.5vh;
    padding-bottom:1.5vh;
    margin-bottom:0vh;
    }
    .hovv:hover {
        cursor: pointer;
    }
.agi {
    margin:0px;
    height:100%;
    display:flex;
    justify-content:center;
    align-items: center;
}
textarea:focus, input:focus,button:focus,select:focus {
    outline: none;
}
.inpew {
    display:block;
    grid-area:inpew;
}
#addex {
    background-color: #F18282;
    color:white;
    width:10vw;
    padding-top:1vw;
    padding-bottom:1vw;
    text-align:center;
    left:45vw;
    display:none;
    position: absolute;
    top:85vh
}
.divop {
    display:grid;
    width:60vw;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "inpew removet";
    margin:auto;
}
.minus {
    grid-area:removet;
    background-color: #F18282;
    color:white;
    text-align:center;
}
#plux {
    width:5vw;
    display:none;
    position:absolute;
    top:72vh;
    left:47.5vw;
}
#genapp {
    height: 75vh;
    width: 61.7vw;
    margin: auto;
    overflow-y: scroll;
}
/* width */
::-webkit-scrollbar {
    width: 0.5rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(51, 51, 51,0.5);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(51,51,51);
  }
  #centerq {
    height: 5.2vh;
    padding-top: 1.6vh;
  }